.DS_Store
node_modules
.worktrees
.sst
.env
.env.local
.idea
.vscode
.codex
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
**/.omo
.omo/
/result
refs
Session.vim
/opencode.json
a.out
target
.scripts
.direnv/

# Local dev files
opencode-dev
UPCOMING_CHANGELOG.md
logs/
*.bun-build
tsconfig.tsbuildinfo

# Local desktop build artifacts (macOS 12 rebuild)
packages/desktop/out
packages/desktop/dist
packages/desktop/resources/opencode-cli*
packages/opencode/dist
packages/app/dist
